<div class="col-xs-12 col-sm-10 col-md-10 col-lg-6 col-sm-offset-1 col-md-offset-1 col-lg-offset-3">
    <div class="row">
        <div class="book-pages">
            <header class="title-head">
                <h1>Национален Археологически Институт</h1>
            </header>
            <section>
                <p>Национален Археологически Институт с музей, София</p>
            </section>

        </div>
        <div class="book-wrapper">
            <figure class="block-center text-center">
                <img src="images/kids-start.jpg" alt="kids start">
            </figure>
        </div>
        <div class="cast-shadow"></div>
    </div>
</div>
