<div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
    <div class="row">
        <div class="book-pages">
            <header class="title-head">
                <h1>Национален Археологически Институт</h1>
            </header>
            <section>
                <h4>&mdash;  Вера, какво има в музея наистина?</h4>
                <p><a class="btn btn-lg btn-success" ng-href="#/views/6">&mdash;  Много, много предмети и интересни находки!</a></p>
            </section>

        </div>
        <div class="book-wrapper">
            <figure class="block-center text-center">
                <img src="../images/boy_explorer.jpg" alt="Какво има в музея">
            </figure>
        </div>
        <div class="cast-shadow"></div>
    </div>
</div>
