<div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
    <div class="row">
        <div class="book-pages-straight">
            <header class="title-head">
                <h1>Централна зала</h1>
            </header>
            <section>
                <h2>Вера и Иво вече са в централната зала</h2>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <a href="javascript: ;" class="thumbnail">
                            <img src="../images/the_mesuem_lobby.jpg" alt="централната зала">
                        </a>
                    </div>
                </div>
            </section>
        </div>
        <div class="straight-cards"></div>
        <div class="cast-shadow"></div>
    </div>
</div>

