<div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
    <div class="row">
        <div class="book-pages-straight">
            <header class="title-head">
                <h1>Нека да разгледаме</h1>
            </header>
            <section>
                <ul class="list-group">
                    <li class="list-group-item">Националният археологически институт с музей  в София е
                        най-старият в България!</li>
                    <li class="list-group-item">Той съществува от 1892г.</li>
                    <li class="list-group-item">Помещава се в бившата Буюк Джамия, построена 1474г. (XV в.)</li>
                    <li class="list-group-item">Официално се открива музея през 1905г. с всички архиологически находки.</li>
                </ul>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <a href="javascript: ;" class="thumbnail">
                            <img src="../images/the_museum.jpg" alt="Музеят отвън">
                        </a>
                    </div>
                </div>
            </section>
        </div>
        <div class="straight-cards"></div>
        <div class="cast-shadow hidden-xs"></div>
    </div>
</div>
