<div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
    <div class="row">
        <div class="book-pages">
            <header class="title-head">
                <h1>Зала "Трезор"</h1>
            </header>
            <section>
                <h3>Нямаме търпение да видим прочутите тракийски съкровища!</h3>
                <p><a ng-href="#/views/6">&mdash;  Много, много предмети и интересни находки!</a></p>
            </section>

        </div>
        <div class="book-wrapper">
            <figure class="text-center">
                <img src="../images/kids_entering.jpg" class="img-responsive center-block" alt="Предмети от различни праисторически епохи">
            </figure>
        </div>
        <div class="cast-shadow hidden-xs"></div>
    </div>
</div>
