<div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
    <div class="row">
        <div class="book-pages-straight">
            <header class="title-head">
                <h1>Загадка:</h1>
            </header>
            <section>
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <p>Къде се намира прочутата икона на св. Теодор?</p>
                        <form class="form-horizontal">
                            <select class="form-control">
                                <option value="">Отговор едно</option>
                                <option value="">Отговор две</option>
                                <option value="">Отговор три</option>
                            </select>
                        </form>
                    </div>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <img class="img-responsive center-block" src="../images/zagadka02.jpg" alt="икона на св. Теодор">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <h4 class="text-center"><small>"Икона на св. Теодор".</small></h4>
                    </div>
                </div>
            </section>
        </div>
        <div class="straight-cards"></div>
        <div class="cast-shadow hidden-xs"></div>
    </div>
</div>
