<div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
    <div class="row">
        <div class="book-pages">
            <header class="title-head">
                <h1>Загадка:</h1>
            </header>
            <section>
                <h1>Къде ли се намира "Именника на българските ханове"?</h1>
            </section>

        </div>
        <div class="book-wrapper">
            <blockquote>
                <p>&mdash; Ще го открием!</p>
                <p><a href="#/views/23" class="btn btn-warning btn-lg">Да започваме!</a></p>
            </blockquote>
        </div>
        <div class="cast-shadow hidden-xs"></div>
    </div>
</div>
