<div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
    <div class="row">
        <div class="book-pages-straight">
            <header class="title-head">
                <h1>Какво има в музея?</h1>
            </header>
            <section>
                <h3>&mdash; Знаете ли какво включва праисторията?​</h3>
                <ul class="list-group">
                    <li class="list-group-item" role="information">Праистория - са периодите преди появата на писмеността;</li>
                    <li class="list-group-item" role="information">А това са: старокаменна епоха; каменна епоха, новокаменна епоха, каменно-медна, бронзова и желязна епохи</li>
                </ul>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <a href="#" class="thumbnail">
                            <img src="../images/expo_01.jpg" class="img-responsive center-block" alt="Предмети от различни праисторически епохи">
                        </a>
                    </div>
                </div>
            </section>
        </div>
        <div class="straight-cards"></div>
        <div class="cast-shadow hidden-xs"></div>
    </div>
</div>
