<div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
    <div class="row">
        <div class="book-pages-straight">
            <header class="title-head">
                <h1>Мисия <small>History art kids</small></h1>
            </header>
            <section>
                <p>България е красива страна.</p>
                <p>Децата, които се научават да ценят и да се радват на културното наследство, ще се грижат за него и като големи.</p>
                <p>Когато се познава и разбира културното наследство, тогава то остава живо.</p>
                <p>Ние показваме неговата красота и значение, като използваме технологията; предизвикваме любопитство и радостта от откриването;</p>
            </section>
        </div>
        <div class="straight-cards"></div>
        <div class="cast-shadow hidden-xs"></div>
    </div>
</div>
